.filtertable {
	margin-left: 24px;
	margin-right: 24px;
	margin-bottom: 56px;
	position: relative;
	display: flex;

	.filtertable__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
		z-index: 100;
		border: none;
		border-radius: 5px;
		background-color: var(--ft-light-grayish-cyan);
		box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);

		.filtertable__container__item {
			display: flex;
			flex-wrap: wrap;

			.filtertable__item {
				display: flex;
				align-items: center;
				margin-right: 16px;
				margin-bottom: 10px;
				margin-top: 10px;
				border-radius: 5px;
				overflow: hidden;

				.filtertable__item--text {
					margin-left: 8px;
					margin-right: 11px;
				}

				.filter__icon__container {
					cursor: pointer;
					display: flex;
					height: 32px;
					width: 32px;
					border: none;
					background-color: var(--desaturated-dark-cyan);
					justify-content: center;
					align-items: center;
					flex-direction: row;

					.filter--icon {
						height: 13px;
						width: 13px;
						pointer-events: none;
					}
				}

				.filter__icon__container:hover {
					background-color: var(--very-dark-grayish-cyan);
				}
			}
		}
	}

	.filtertable--button {
		border: none;
		background: none;
		cursor: pointer;
		font-size: 16px;
		font-weight: 700;
		font-family: var(--font-league-spartan);
		color: var(--dark-grayish-cyan);
	}

	.filtertable--button:hover {
		text-decoration: underline;
	}
}

@media screen and (min-width: 1090px) {
	.filtertable {
		margin-left: 100px;
		margin-right: 100px;
	}
}

@media screen and (min-width: 1200px) {
	.filtertable {
		margin-right: 130px;
		margin-left: 130px;
	}
}
