:root {
	--desaturated-dark-cyan: #5ba4a4;
	--bg-light-grayish-cyan: #effafa;
	--ft-light-grayish-cyan: #eef6f6;
	--dark-grayish-cyan: #7b8e8e;
	--very-dark-grayish-cyan: #2c3a3a;
	--very-dark-black: #2b3939;
	--bg-grayish-oval: #b7c4c4;
	--bg-grayish-app: #f2f2f2;

	--font-league-spartan: "League Spartan", sans-serif;
}
